@model FirstAidBG_v._2.Data.Entities.Question

@{
    ViewData["Title"] = "Delete";
}
<section style="padding-left:5em; padding-right:5em;">
<h1>Изтрий</h1>

<h3>Сигурни ли сте, че искате да изтриете?</h3>
<div>
    <h4>Въпрос</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Въпрос
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            Дата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно</a>
    </form>
</div>
</section>