html {
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
header{
    
}

body {
    margin-bottom: 50px;
    background-color: white;

    -ms-overflow-style: none;
    
}

/* This is a single-line comment */
.header-logo {
    top:0;
    background-color: red;
    height:60px;
    padding-bottom:5px;
    
}
    .header-logo a {
        color: white;
        font-size:18px;
        text-decoration: none;
        z-index: 1;
    }

#header-a-logo {
    font-size: 24px;
}

.header-login {
    float: right;
}

.btn-exit{
    float: right;
    height:30px;
    background-color:red;
    border:0;
}

.login-profile {
    text-align: right;
    color: red;
    align-items: center;
    flex-direction: row;
}

.navbar {
    background-color:rgb(214, 0, 0);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:center;
    justify-content: space-between;
    
    padding-top: 0;
    padding-bottom: 0;
    border:0;
    text-align:center;
    z-index:1;
    margin-bottom:0;
}
    .navbar a {
        color: white;
        font-weight: 500;
        text-align: center;     
        
    }
    .navbar-nav{
        
    }

.onhover a:hover{
    background-color:white;
    transition:0.5s;
    color:red;
    text-transform:uppercase;
}

.nav-item {
    font-weight: bold;
    color: white;
}
.navbar-brand{
    color:white;
}

.imge{
    padding:0;
    width: inherit;
}

.img-navbar{
    height:35px;
    width:35px;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }





/* HOME PAGE */
.container{
    
    margin-right:0;
    margin-bottom:0;
    padding-bottom:0;
    
}

.pb-3 {
    padding-bottom: 0rem !important;
}

.homepage {
    max-width: 100%;
    width: 100%;
    left: 0;
    right: 0;
    
}
    .homepage h1 {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: 600;
    }
    .homepage a{
        color:red;
        font-weight:600;
        text-align:center;
        align-self:center;
    }
/* HOME PAGE first */

.box-text {
    float: left;
    width: 50%;
    padding: 4%;
    height: 300px;
    font-size:1.3em;
}

.box {
    float: left;
    width: 50%;
    padding: 0px;
    height: 300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    height: 30%;
}




.homepage-first {
    background-color: red;    
    height: 40vw;
    font-size:2.3vw;

}
    .homepage-first p {
        color: white;
        height: fit-content;
        padding-left: 4%;
        padding-right: 10%;
        text-align: center;
        padding-top: 5%;
        padding-bottom:5%;
    }

.homepage-p-first {
    
}

.img-homepage-FA-1{
   right:0;
   height:inherit;
   width:50%;
   height:40vw;
   float:right;
}
/* HOME PAGE */
/* HOME PAGE */
.homepage-stats-row{
    margin-top:4%;
    margin-bottom:5%;
    height:30%;
}
    .homepage-stats-row:after {
        content: "";
        display: table;
        clear: both;
    }
.homepage-stats-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    

    color:white;
    font-weight:600;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* HOME PAGE */
/* HOME PAGE */
.homepage-second {
    background-color: red;
    height: 320px;
    margin-bottom: 5%;
}

.homepage-p-second {
    color: white;
    height: fit-content;
    
    padding-right: 4%;
    padding-top: 20px;
    text-align: right;
}

.img-homepage-FA-2 {
    right: 0;
    height: inherit;
    width: 50%;
    float: left;
}
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */

.homepage-p-last {
    background-color: red;
    color: white;
    font-size: 2vw;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0;
    padding-bottom:50px;
}
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
.homepage-bg-image {
    background-image: url("../PNGs/homepage-bg-image.jpg");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    width: 100%;
    margin: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
}

.homepage-bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;


    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/* The side navigation menu */
.sidebar {
    margin-top:-20px;
    padding-top:4px;
    padding-bottom:60px;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: red;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: red;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: red;
            color: white;
        }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /*height:1000px;*/
    padding-bottom: 60px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }

            .sidebar a {
                float: left;
            }

        div.content {
            margin-left: 0;
        }
    }
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }
    /* INFO PAGE */
    /*INFO PAGE SIDE MENU*/
    /*INFO PAGE SIDE MENU*/
    /*INFO PAGE SIDE MENU*/

    .wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}