
<div class="sidebar">
                <a asp-controller="Info" asp-action="InfoPageBrokenBones">ПРИ наранявания и счупвания </a>

                <a asp-controller="Info" asp-action="InfoPageBleeding">ПРИ кръвотечение</a>

                <a asp-controller="Info" asp-action="InfoPageBurns">ПРИ изгаряния /термични и химически/</a>

                <a asp-controller="Info" asp-action="InfoPageFreeze">ПРИ измръзване </a>

                <a asp-controller="Info" asp-action="InfoPageSunHeat">ПРИ слънчев и топлинен удар </a>

                <a asp-controller="Info" asp-action="InfoPageElectricity">ПРИ въздействие на електрически ток върху човека</a>

                <a asp-controller="Info" asp-action="InfoPagePoison">ПРИ остри отравяния</a>

                <a asp-controller="Info" asp-action="InfoPageBites">ПРИ ухапвания от куче, насекомо</a>

                <a asp-controller="Info" asp-action="InfoPageEyes">ПРИ попадане на чужди тела в окото</a>

                <a asp-controller="Info" asp-action="InfoPageUnconscious">ПРИ състояние на безсъзнание</a>

                <a asp-controller="Info" asp-action="InfoPageDisruptionsBreathingBloodstream">ПРИ застрашаващи живота нарушения в дишането
                    и кръвообращението
                </a>

                <a asp-controller="Info" asp-action="InfoPageSurgicalWounds">ПРИ хирургически заболявания на органите
                    в коремната кухина</a>

                <a asp-controller="Info" asp-action="InfoPageAidKitContents">Опис на съдържанието на аптечки и аптечни чанти</a>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@