
@{
    ViewData["Title"] = "Index";
}

<!-- The sidebar -->
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec neque nibh. Phasellus fringilla fringilla vehicula. Fusce auctor diam mi, non scelerisque eros rhoncus eu. 
    In pharetra purus nisi, sit amet cursus lorem pharetra nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam a arcu lacus. Donec vel urna maximus, interdum sapien non, 
    lobortis justo. Maecenas non elit dapibus, finibus velit ac, gravida sapien. Cras lectus nulla, finibus vitae orci interdum, ornare accumsan mauris. Nam imperdiet diam orci. Suspendisse 
    ultrices sodales hendrerit. Nunc iaculis, odio vitae aliquam mollis, nulla est dapibus felis, vel venenatis lectus sem id enim.
Vivamus at ex id purus sodales blandit eget non sapien. Nam sed ex eu orci condimentum imperdiet ut vitae justo. Nam quis augue tellus.

Nulla ipsum nisi, laoreet eget nisl in, ornare accumsan tellus. Nulla venenatis lobortis lorem, at eleifend elit ultrices et. 
Quisque posuere placerat ex sed venenatis. Sed aliquet ut neque quis volutpat. Etiam malesuada suscipit dolor, ornare imperdiet 
velit eleifend id. Aliquam non felis quis turpis venenatis dapibus. Nunc diam libero, egestas at ligula quis, dignissim consectetur mi. 
Donec placerat nisl ut quam viverra, vitae mollis purus pellentesque. Morbi fermentum, urna quis auctor dictum, eros nisl eleifend felis, eu pulvinar eros augue quis ante. 
Fusce finibus porta velit at viverra. Sed sit amet velit orci. Curabitur molestie, libero non scelerisque auctor, ex quam dapibus nibh, nec sollicitudin lectus elit ut ipsum. 
Morbi et felis sodales, ullamcorper ante feugiat, porttitor libero.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec neque nibh. Phasellus fringilla fringilla vehicula. Fusce auctor diam mi, non scelerisque eros rhoncus eu. 
    In pharetra purus nisi, sit amet cursus lorem pharetra nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam a arcu lacus. Donec vel urna maximus, interdum sapien non, 
    lobortis justo. Maecenas non elit dapibus, finibus velit ac, gravida sapien. Cras lectus nulla, finibus vitae orci interdum, ornare accumsan mauris. Nam imperdiet diam orci. Suspendisse 
    ultrices sodales hendrerit. Nunc iaculis, odio vitae aliquam mollis, nulla est dapibus felis, vel venenatis lectus sem id enim.
Vivamus at ex id purus sodales blandit eget non sapien. Nam sed ex eu orci condimentum imperdiet ut vitae justo. Nam quis augue tellus.

Nulla ipsum nisi, laoreet eget nisl in, ornare accumsan tellus. Nulla venenatis lobortis lorem, at eleifend elit ultrices et. 
Quisque posuere placerat ex sed venenatis. Sed aliquet ut neque quis volutpat. Etiam malesuada suscipit dolor, ornare imperdiet 
velit eleifend id. Aliquam non felis quis turpis venenatis dapibus. Nunc diam libero, egestas at ligula quis, dignissim consectetur mi. 
Donec placerat nisl ut quam viverra, vitae mollis purus pellentesque. Morbi fermentum, urna quis auctor dictum, eros nisl eleifend felis, eu pulvinar eros augue quis ante. 
Fusce finibus porta velit at viverra. Sed sit amet velit orci. Curabitur molestie, libero non scelerisque auctor, ex quam dapibus nibh, nec sollicitudin lectus elit ut ipsum. 
Morbi et felis sodales, ullamcorper ante feugiat, porttitor libero

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec neque nibh. Phasellus fringilla fringilla vehicula. Fusce auctor diam mi, non scelerisque eros rhoncus eu. 
    In pharetra purus nisi, sit amet cursus lorem pharetra nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam a arcu lacus. Donec vel urna maximus, interdum sapien non, 
    lobortis justo. Maecenas non elit dapibus, finibus velit ac, gravida sapien. Cras lectus nulla, finibus vitae orci interdum, ornare accumsan mauris. Nam imperdiet diam orci. Suspendisse 
    ultrices sodales hendrerit. Nunc iaculis, odio vitae aliquam mollis, nulla est dapibus felis, vel venenatis lectus sem id enim.
Vivamus at ex id purus sodales blandit eget non sapien. Nam sed ex eu orci condimentum imperdiet ut vitae justo. Nam quis augue tellus.

Nulla ipsum nisi, laoreet eget nisl in, ornare accumsan tellus. Nulla venenatis lobortis lorem, at eleifend elit ultrices et. 
Quisque posuere placerat ex sed venenatis. Sed aliquet ut neque quis volutpat. Etiam malesuada suscipit dolor, ornare imperdiet 
velit eleifend id. Aliquam non felis quis turpis venenatis dapibus. Nunc diam libero, egestas at ligula quis, dignissim consectetur mi. 
Donec placerat nisl ut quam viverra, vitae mollis purus pellentesque. Morbi fermentum, urna quis auctor dictum, eros nisl eleifend felis, eu pulvinar eros augue quis ante. 
Fusce finibus porta velit at viverra. Sed sit amet velit orci. Curabitur molestie, libero non scelerisque auctor, ex quam dapibus nibh, nec sollicitudin lectus elit ut ipsum. 
Morbi et felis sodales, ullamcorper ante feugiat, porttitor libero</p>



</div>

