@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при ИЗГАРЯНИЯ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->



<p style="">Изгарянето на повече от 1/3 от повърхността на кожата създава опасност за живота на пострадалия. 
    От значение е също и дълбочината на изгарянето, както и възможността от възникване на вторична инфекция.

    <img class="img-fluid rounded mx-auto d-block h-10 w-auto" src="~/PNGs/burning.png" />
</p>

<ul><b>Изгарянията биват класицирани по 4 степени:</b>
    <li>
        При <b>първа степен изгаряне</b> обикновено се получава зачервяване и подуване на кожата.
    </li>
    <li>
        При <b>изгаряне втора степен</b> освен горните признаци се появяват мехури, изпълнени с бледо-жълтеникава течност.
    </li>
    <li>
        При <b>трета степен на изгаряне</b> всички слоеве на кожата са засегнати и раната е под огромен риск от инфекция.
    </li>
    <li>
        При <b>четвърта степен изгаряне</b> кожата е овъглена, засегнати са овен нея и подкожието, мускулите, сухожилията и дори и костите.
    </li>
</ul>

<h3><b>Видове изгаряния</b></h3>

<h4>Термични изгаряния</h4>
<p>Дълбоките изгаряния на външен вид са бели или овъглени като е възможно да се виждат мускулът и костта. 
    Като акт на милосърдие от страна на природата тези изгаряния са безболезнени, тъй като са унищожени нервните окончания. 
    Повърхностните изгаряния са много болезнени и ако се простират на голяма повърхност, 
    загубата на течности може да доведе до изпадане в шоково състояние, което е по-силно дори и от това при дълбоките изгаряния. 
    Кожата ще се покрие с мехури, но тези мехури НИКОГА не трябва да бъдат пукани нарочно. Ако има изгаряния около лицето и шията,
    уверете се,че въздушният път е чист.
</p>

<h4>Химични изгаряния</h4>
<p>
    Използвайте големи количества вода,за да разредитв и отмиете химикалите.Махнете дрехите,които могат да задържат корозивните субстанции.
    Не се опитвайте да неутрализирате киселината с основа и обратното,защото химическата реакция ще доведе до още по-голяма топлина!
    Продължете да третирате ,като при топлинното изгаряне! Изгарянията, които са често срещано поражение при самолетни катастрофи, 
    причиняват силна болка и загуба на течности. Пострадалите са СИЛНО предразположени към шок и инфекция. 
    В зависимост от това каква област от тялото е изгорена,могат да се преценят шансовете за оцеляване.
    Изгаряния, които обхващат повече от 50% от тялото, обикновено са фатални, ако не разполагате с подходящата медицинска апаратура. 

</p>
<ul>Като приблизителен ориентир в това отношение могат да ви послужат следните данни относно засегнатата област:
    <li>
        Глава = 9%.
    </li>
    <li>
        Ръце, всяка = 9%.
    </li>
    <li>
        Предна част на торса = 18%.
    </li>
    <li>
        Задна част на торса = 18%.
    </li>
    <li>
        Област на половите органи =1%.
    </li>
    <li>
        Предна част на краката = 9% всеки.
    </li>
    <li>
        Задната част на краката = 9% всеки.
    </li>
</ul>

<h3><b>Първата помощ при изгаряне се състои в следното:</b></h3>
<p>
1. Незабавно прекратяване действието на термичния агент /слънчеви лъчи, огън, химическо вещество/. При запалване на дрехите те трябва да се загасят чрез покриване с одеало или палто, да се залеят с вода или да се съблекат;
<br />
2. На пострадалия се дава вода, подсладена течност, може и малко алкохол;
<br />
3. Прави се суха стерилна превръзка на изгоряната повърхност;
<br />
4. При наличие на мехури те не трябва да се разкъсват поради опасност от инфекция;
<br />
5. Изгорените участъци не трябва да се мажат и посипват с никакви вещества. <b>Само при слънчеви изгаряния</b> се допуска мазане с дерматин, сода-бикарбонат, кисело мляко, краставичен сок или олио.
<br />
При изгаряне с киселина изгорените места се почистват с 5%-ов разтвор на сода-бикарбонат /една чаена лъжичка в 100 мл вода/, а при изгаряне с основа - с 1%-ов воден разтвор на оцетна киселина. Лечението на изгаряния втора, трета и четвърта степен се извършва в болнично заведение.

</p>
</div>