@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при УХАПВАНИЯ ОТ КУЧЕТА ИЛИ НАСЕКОМИ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->
<br />
<h3><b>Ухапване от куче</b></h3>
<br />

<p style="">
    Ако сте ухапани от куче, независимо дали е домашно или улично, по-добре направете медицински преглед с преценка 
    за ваксинация за тетанус и бяс. Ако нямате наблизо лекарски кабинет, раната се измива с вода и сапун. 
    Нужна е обработка на раната с антисептичен разтвор (риванол, йодасепт ,кислородна вода, калиев перманганат, антибиотичен крем).
    Ако кучето е домашно, наблюдавайте за прояви на бяс (прояви на необичайна агресивност, обилно отделяне на слюнка) до 10-тия ден от ухапването.

</p>
<ol>
    <li>
        Ако кръвотечението след ухапването не е много силно, не се опитвайте веднага да го спрете.  
        Заедно с кръвта от раната се отмива и слюнката на животното, а значи и микробите;
    </li>
    <li>
        Мястото на ухапването трябва да се промие със сапунен разтвор (най-добре домашен или антибактериален, но може и тоалетен сапун), 
        тъй като сапунът може да унищожи вируса на кучешкия бяс;
    </li>
    <li>
        Самата рана може да се обработи с 3%-н разтвор на кислородна вода;
    </li>
    <li>
        Сложете върху раната стерилна превръзка и отидете в близката поликлиника. 
        Трябва да го направите непременно, дори и да ви е ухапало домашно куче, което е било ваксинирано;
    </li>

</ol>

<br />
<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/angry-dog.png" />
<br />
<h3>
    <b>Ужилване от оса, пчела, стършел</b>
</h3>

<p>Опасно е не самото ужилване, а отровата, която се впръсква под кожата чрез жилото. 
    Ако вие или детето ви сте предразположени към алергични реакции, непременно вземете за лятната ваканция антихистаминов препарат. 
    Ако след приема на таблетката реакцията продължава да се засилва, веднага търсете лекарска помощ. 
    При тежка алергична реакция се налага противоалергична инжекция, която може да се окаже животоспасяваща.
</p>

<ul><b>Първа помощ при ухапване от пчела, стършел или оса:</b>
    <li>
        Ако жилото е останало в кожата, внимателно го извадете с пинсета. В никакъв случай не го притискайте, защото отровата ще се разпръсне;
    </li>
    <li>
        Вземете памук, напоен с кислородна вода и намажете мястото на ухапването.
        Ако не разполагате с кислородна вода, използвайте вода със сол – една лъжичка на чаша вода;
    </li>
    <li>
        Наложете парченца лед на ухапаното място;
    </li>
    <li>
        Приемайте обилно количество течности, за предпочитане вода;
    </li>
    <li>
        Приемете противоалергичен медикамент;
    </li>
</ul>

<p>
    <b>Важно:</b>Ако след ухапването се появят реакции като подуване, задушаване, обриви, припадък, затруднен говор или затруднено зрение,
    незабавно посетете най-близкото спешно отделение или повикайте лекар.

</p>

</div>