@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при ОСТРИ ОТРАВЯНИЯ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">Острите отравяния са заболявания, които започват често внезапно или в кратък период от време, протичат не рядко тежко и бързо. 
    Те изискват още при започване на тяхната изява бързи лечебни мерки -преди да се дочака лекарска намеса. 
    Острите отравяния се причиняват от много и разнообразни видове отрови. Едни от тях са токсичните газове, 
    които проникват в организма през дихателната система, други са твърди и течни съединения и вещества, 
    които проникват в организма през храносмилателната система, през кожата и повърхностните лигавици. 
Трети вид са отрови, които се отделят от определени животни -змии, риби н др. - при ухапване или убождане.</p>

<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/posion.png" />

<h3><b>Средства и методи на долекарската помощ при остри отравяния:</b></h3>

<ul>
    <li><b>При проникване на отровата през устата се извършват следните действия до идването на лекаря:</b>
        <ol>
            <li>
                С бъркане с пръст в гърлото или дразнене на последното с дръжка на лъжица се предизвиква повръщане.
                Ако болният е приел отрова със силно химически изгарящи свойства (киселини, основи и други подобни вещества), 
                преди предизвикване на повръщането да изпие 2 чаени чаши прясно мляко, по възможност примесени с белтъка на 1 или 2 яйца, 
                размесени в емулсия с 2 чаени чаши вода. Тези течности ще образуват съединения с този вид отрови (албуминати) и при престоя им в стомаха и 
                обратното повръщане няма да проявяват по-нататък тяхното изгарящо действие;
            </li>
            <li>
                След повръщането се изпиват последователно няколко чаши вода или при възможност смес на вода и медицински въглен 
                (3 супени лъжици медицински въглен се смесват в 1 литър вода), 
                след което повторно и бързо се предизвиква по описания по-горе начин повръщане;
            </li>
            <li>
                След обилното повръщане, с което се отстранява отровата от стомаха, на болния се дава да изпие 1 чаша вода, 
                смесена с 2 кафени лъжички медицински въглен; 15 мин. по-късно - 1 пакетче английска и глауберова сол, 
                разтворена в 1 водна чаша топла вода. С последното се предизвиква бързо изхождане по голяма нужда и 
                по-бързо отстранява­не на отровата от червата и ограничение на нейното всмукване в кръвта;
            </li>
        </ol>
        <br />
    </li>
    <li><b>При проникване на отровата през дихателната система се провеждат следните действия:</b>
        <ol>
            <li>
                Отровеният незабавно се извежда от обгазената обстановка. Спасителите трябва да бъдат с маски с кислородни апарати и предпазни облекла.
                В индустриалните предприятия до идване на лекаря спасителите са длъжни да подават с кислородни апарати на 
                тежко пострадалите да вдишват кислородна смес;
            </li>
            <li>
                 Вън от обгазения район, ако болният е в съзнание, провежда бавно вдишване и издишване на чист въздух за намаление концентрацията на 
                 отровния газ в алвееларния въздух в белите дробове и по-бързо извеждане на последния навън При отравяния с въглероден окис се провежда 
                 изкуствено дишане. 
                 При отравяне с други газове, които увреждат дихателните пътища и белите дробове, не се провежда изкуствено дишане с двигателни процедури.
            </li>
        </ol>
        <br />
    </li>
    <li><b>При контакт на отровата с кожата и достъпните лигавици на пострадалия се извършва следното:</b>
        <ol>
            <li>
                 Внимателно се свалят дрехите от пострадалия и опаковани се изпращат за химическо обезвреждане;
            </li>
            <li>
                Контактните участъци или цялото тяло се измиват с вода и сапун - най-добре под душ;
            </li>
            <li>
                При засягане на очите в първите минути на интоксикацията 
                последните внимателно се подлагат тангенциално на умерено сипна водна струя и се измиват от отровата;
            </li>
            <br />
        </ol>
    </li>
    <li><b>При проникване на отровата през храносмилателната система, след провеждане процедурите на почистването й от отровата, 
            при възможност за гълтане се извършва следното:</b>
        <ol>
            <li>
                Приемат се през кратки интервали от време средно 15-30 мин по 1 чаша редки сиропести негазирани течности или леки чайове с цел да се увеличи количеството на отделената урина 
                и заедно с нея да се изхвърли и част от проникналата в кръвта отрова. 
                Тази процедура е противопоказна и не се извършва при нефрит (възпаление на бъбреци­те), високо кръвно налягане и болно сърце в период на декомпенсация, 
                както и при отравяния с отрови, причиняващи химическо изгаряне на устната кухина и хранопровода;
            </li>
            <li>
                При забавяне на лекарска помощ може да се направи очистителна клизма за ускоряване изхвърлянето на проникналата в червата отрова;
            </li>
            <br />
        </ol>
    </li>
    <li><b>Като противоотрова в рамките на долекарска помощ се извършва следното:</b>
         <ol>

            <li>
                Медицински въглен като универсален адсорбент. Същият се прилага при приемане през устата на всички видове отрови по описания по-горе метод (3 суп.. 
                лъжици в 1 л вода се размесват хубаво и получената смес се измива на няколко последователни приема, непосредствено след което се предизвиква повръщане);
            </li>
            <li>
                Адсорган: приема се след извършване на стомашна промивка или повръщане. Дозата е следната: 2 пъти през интервал от 30 мин. 
                се поставя в устата 1 кафена лъжичка от лекарството, 
                след което се изпива последователно на глътки вода до окончателното поглъщане на препарата.
            </li>
            <li>
                Прясно мляко -1/2 л се изпива бавно без прекъсване. Приема се при отравяне с корозивни отрови 
                (вещества, причиняващи химичес­ко изгаряне на устната кухина, стомаха и червата). 
                Противопоказно е при отравяне с мастноразтворими препарати и вещества;
            </li>
            <li>
                Белтъчно-водна смес. Получава се като в 2 водни чаши вода (400 мл) се разбият белтъците на две яйца. Изпива се бавно без прекъс­ване.
                Прилага се при отравяне с корозивни отрови (като прясното мляко);
            </li>
            <li>
                Разреден оцетен разтвор или лимонов сок. Получава се като 2 супени лъжици оцет или сока на 1 лимон се смесят с 1/2 л вода.
                Изпи­ват се при отравяне със силно корозивни основни вещества (натриева основа, калиева основа, калциева основа и др. - непосредствено след отравянето). 
                След изпиването се предизвиква повръщане, като преди това се прилага прясно мляко и водно белтъчна смес.
            </li>
            <br />
         </ol>
    </li>
</ul>

<p class="text-center"><b>Другите лекарствени и лечебни методи ще се прилагат от квалифицирани медицински лица!</b>
</p>

</div>