@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при ВЪЗДЕЙСТВИЕ НА ЕЛЕКТРИЧЕСКИ ТОК ВЪРХУ ЧОВЕКА</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">
    Електрически удар е болестно въздействие на електрически ток при преминаването му през организма и се изразява в нарушаване на функциите на 
    жизнено важни органи, като тези на дишането и сърдечната дейност. Степента на това въздействие зависи от силата на тока, неговия вид и честота, 
    пътя през който той минава през тялото, времето на неговото протичане и състоянието на организма в момента на попадането му под напрежение.
Електрически удар може да се получи при докосване до тоководещи части, които са под напрежение 
(проводници, жици, кабели, клеми и други подобни), или при докосване до проводими нетоководещи части 
(корпуси на двигатели, машини, табла и други подобни), които са попаднали под напрежение в резултат на дефекти в изолацията или конструкцията,
и при които не е задействала съответната защита.

</p>
<br />
<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/electricity.png" />

<h3><b>Признаци</b></h3>

<p>
    Признаците зависят от силата на тока. Слабият ток произвежда само слабо сътресение, докато силният ток (електрическото осветление) 
    изведнъж причинява силни гърчения във всички мускули, 
    поради което пръстите още по-здраво стискат жицата, а това може да доведе и до смърт.
</p>
<br />
<h3>Първа помощ при токов удар</h3>

<ol> <b>Първата помощ на пострадал от електрически ток се състои в:</b>
    <li>
         Освобождаването на пострадалия, по възможния най-бърз начин от напрежението, 
         под което е попаднал, за целта трябва да се използват сухи нетокопроводни предмети;
    </li>
    <li>
        Ако пострадалият има собствено дишане и пулс, той се оставя да лежи с разкопчани дрехи, като му се осигурява достъп на чист въздух,
        към носа му се поднася памук, напоен с амоняк, а лицето му се измива или напръсква със студена вода;
    </li>
    <li>
        Ако пострадалият е в безсъзнание и дишането му е слабо и конвулсивно, или няма дишане и пулс, 
        той не следва да се счита за мъртъв, а за изпаднал в състояние на клинична смърт, от която може да бъде съживен. 
        
        <ul><b>За целта се извършва следното:</b>
            <li>
                освобождаване на тялото от всички стесняващи дрехи и разкопчаване на копчетата;
            </li>
            <li>
                 разтваряне на устата чрез изместване напред на долната челюст;
            </li>
            <li>
                да се освободи устата на пострадалия от нечистотии, изкуствени челюсти и др. подобни;
            </li>
            <li>
                бързо да се осигури проходимост на горните дихателни пътища, като се изтегли и задържи езика напред,
                а главата се наведе назад в максимално възможно положение;
            </li>
            <li>
                да се пристъпи към изкуствено дишане, като най-ефикасните от съществуващите методи за това са "уста в уста" и "уста в нос";
            </li>
            <li>
                при липса на пулс на пострадалия, се пристъпва и към индиректен масаж на сърцето;
            </li>
        </ul>
    </li>
    <li>
        Долекарската помощ на пострадал от електрически удар, следва да продължава до пристигането на лекарски екип или по време на 
        транспортирането на пострадалия до здравно заведение.
        До тогава той трябва да се счита, че е жив. Само компетентно медицинско лице може да констатира настъпила смърт,
        след което помощта се прекратява.
    </li>
    <li>
        Строго се забранява заравянето на пострадалия в земя, или други действия, които биха затруднили дишането му.
    </li>
    <li>
        При протичане на електрически ток през човешкото тяло или при развитие на волтова дъга могат да се получат и изгаряния.
        В тези случаи се оказва долекарска помощ, съгласно правилата за изгаряния.
    </li>
    <li>
        Удар от мълния има същите признаци, както при поражение от електрически ток. В зависимост от вида и степента на увреждането 
        се оказва съответстваща на по-гореизложената долекарска помощ.
    </li>
</ol>

</div>