@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при КЪРВЕНЕ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">Общият обем на циркулиращата кръв на човек в зряла възраст е около 5 литра. 
    Опасността за живота на човек вследствие на кръвоизлив зависи преди всичко от количеството на изтеклата кръв и времето, за което е изтекла. 
    Кръвоизлив от 200-400 мл не се отразява на общото състояние на здрав възрастен човек, но загубата на 1/3 от цялото количество кръв (1500-1600 мл) 
    представлява опасност за живота му. Голямо значение има бързината на кръвоизлива, а също и възрастта, полът, общото състояние.
    <img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/blood.png" />
    <br />
    В зависимост от локализацията се разграничава външно и вътрешно кръвотечение, според типа на увредения кръвоносен съд – капилярно, артериално и венозно.
    Първата помощ при кръвотечения има своите особености за всеки горепосочените видове.
    </p>

    <br />
        <ul><b>Общи правила за оказване на първа помощ при кръвотечения:</b>
            <li>
                На първо място е необходимо да се убедите, че нито на пострадалия нито Вас ви заплашва нещо 
                – при необходимост се изнесете или изведете пострадалия от зоната на увреждането или където съществува опасност от такова, 
                сложете си гумени ръкавици, маска и т.н.
            </li>
            <li>
              При значителна кръвозагуба следва да сложите пострадалия да легне, а ако е възможно трябва да бъде с повдигнати крака.
            </li>
            <li>
                 С помощта на другите или самите вие се обадете на бърза помощ;
            </li>
            <li>
                Не трябва да докосвате с ръце раната на пострадалия;
            </li>
            <li>
                Да промивате раната, в случай че в нея е попаднала ръжда, пясък и т.н. е противопоказно, 
                тъй като така може да нанесете още по-голяма вреда като засилите кръвотечението;
            </li>
            <li>
               Не трябва да премахвате от раната парченца от стъкла и други чужди агенти като например ако в нея е попаднала почва;
            </li>
            <li>
               При замърсяване на раната с мръсотията около раната следва внимателно да се почисти –
               по посока навън от раната и да обработите очистените краища с антисептик.
            </li>
            <li>
               Не трябва да се допуска попадането на йоден разтвор вътре в раната.
            </li>
        </ul>
        <br />

        <ul><b>В зависимост от вида на наранения кръвоносен съд се различават няколко вида кръвотечения:</b>
            <li>
               <b>Артериални</b> - когато е нарушена целостта на артериален кръвоносен съд. 
               При тяхното разкъсване кръвта изтича на тласъци в съответствие с ударите на сърцето. 
               Има яркочервен цвят поради наличието на повече кислород. При тях бързината на кръвоизлива е най-голяма, затова са и най-опасни.
            </li>
            <li>
              <b>Венозни</b> - когато е нарушена целостта на вена. Изтичането на кръвта при разкъсване на вена става равномерно. 
              Кръвта има тъмночервен цвят.
            </li>
            <li>
                 <b>Капилярни</b> - при нарушаване целостта на капиляри. При тяхното нарушаване кръвта изтича на капки - тя "сълзи". 
                 Получават се при повърхностни наранявания.
            </li>            
        </ul>
        <br />

        <p>Кръвоизливи могат да настъпят при наранявания, но също и при някои заболявания: язва, хемороиди, разширени вени, заболявания на кръвотворните органи и др. В тези случаи кръвоизливите възникват по редица други признаци: черни изпражнения - при язви, кръв - при хемороиди, подкожни кръвоизливи - при някои заболявания на кръвотворните органи и други.
        Първото нещо, което трябва да се направи при кръвоизлив, е да се пристъпи към кръвоспиране. Кръвоспирането може да бъде временно или окончателно.
        <br />
        Временното кръвоспиране има за цел да спести на пострадалия загуба на кръв, докато дойде на мястото, където може да се направи окончателно кръвоспиране.
        </p>
        <br />

        <ul>Един от способите за временно кръвоспиране е ръчният. Той се състои в това, че с длан или пръсти се притиска разкъсаният кръвоносен съд. 
            Притискането може да се извърши по следните начини:</b>
            <li>
               <b> Над мястото на нараняването</b> - на такова анатомично място, където кръвоносният съд е разположен по-повърхностно и над голяма кост.
            </li>
            <li>
              <b>С пръст в самата рана</b> върху разкъсания кръвоносен съд, но в този случай съществува опасност от инфектиране на раната, 
              което съзнателно се пренебрегва пред опасността за живота на пострадалия от кръвоизлива.
            </li>                      
        </ul>
        <br />

        <ul>Има определени анатомични места, където може да се извърши кръвоспирането по ръчния способ. Най-подходящи анатомични места за ръчно притискане на различните артерии са:</b>
            <li>
               <b>При нараняване на главата и лицето</b> кръвоизливът може да бъде спрян, като се притиска сънната артерия от страната на нараняването. 
               Тя се притиска в шийната област върху шийните прешлени с пръстите, като палецът отива назад.
            </li>
            <li>
              <b>При нараняване в горната част на горния крайник или в областта на раменната става</b>, където кръвотечението може да е по-силно,
              с пръсти се притиска подключичната артерия върху първото ребро, зад стената на ключицата.
            </li>     
            <li>
              <b>При кръвотечение от рана в подмишницата</b> се притиска подмишничната артерия в областта на мишницата.
            </li> 
            <li>
              <b>При кръвотечение от дланта</b> се притискат лъчевата или лакътната артерия.
            </li> 
            <li>
              <b>При кръвотечение от долните крайници</b> се притиска бедрената артерия. То се извършва под слабинната гънка, малко по-навътре от средата й. Най-добре е притискането да става с юмрук.
            </li> 
        </ul>
        <br />
      
<p>
<br />

По-сигурна временна кръвоспираща превръзка се прави чрез пристягане на кървящия кръвоносен съд над мястото на нараняването (кървенето). Такова пристягане може да се направи сьс засуквачка, 
Есмархов бинт или с обикновени средства като колан, триъгълна кърпа и други, които могат да изиграят много добра роля при кръвоспирането. 

<img class="img-fluid rounded mx-auto d-block h-25 w-auto" src="~/PNGs/tourniqet.png" />

<ul><b>Съществуват няколко правила, които трябва да се знаят при поставянето на кръвоспиращите превръзки:</b>
    <li>
        Правят се само при кръвотечение на крайниците.
    </li>
    <li>
        Правят се централно над мястото на кръвотечението -при кръвотечение от горен крайник - над лакътната става, а при долен крайник - над коляното.
    </li>
    <li>
        Винаги се правят върху подложка от плат, марля, триъгълна кърпа и други
    </li>
    <li>
        Трябва да се пристяга до изчезване на периферния пулс или до спиране на кръвотечението. Този момент трябва да се отчита правилно, 
        защото при недобро притискане се получава венозен застой и вместо да спре, кръвотечението се засилва,
        а при венозен застой и пристягане по-силно от необходимото могат да се получат усложнения, даже парализиране на крайника.
    </li>
</ul>


Кръвоспиращата превръзка спира изцяло притока на кръв под мястото на поставянето й, 
поради което по-продължителното й оставяне може да доведе до умъртвяване на тъканта, 
намираща се периферно от нея. За да не се стигне до това. необходимо е такава превръзка да не остава повече от 1/2 - 2 часа.
Ако се касае за хора, пострадали от радиация, това време трябва да бъде още по-кратко -1/2 -1 час.


За да се знае кога е направена кръвоспиращата превръзка, поставя се листче с часа и датата на правене на превръзката на видно място, най-добре закачено за самата превръзка.



Ако се наложи превръзката да остане по-дълго време от пределно допустимото, допуска се тя да се разхлаби за няколко минути, за да се даде възможност на кръвта в кръвоносните съдове да премине под превръзката и да подхрани тъканта периферно от нея. Отпускането не трябва да става изведнъж, а постепенно. Ако се касае за разкъсан голям кръвоносен съд, през време на отпускане на кръвоспиращата превръзка той може да бъде притиснат с пръст или в мястото на разкъсването, или централно от нея. Подхранването на тъканите се извършва от другите по-малки (т.н. колатерални) кръвоносни съдове.

Преди поставянето на кръвоспиращата превръзка крайникът трябва да се повдигне, за да се даде възможност на кръвта да се оттече, след което се поставя превръзката.

Не трябва крьвоспиращата превръзка да се поставя на голо.

Кръвоспиранею чрез поставяне на кръвоспираща превръзка е сигурен и удобен начин, но не винаги приложим. Той може да се приложи при кръвотечение на крайниците и то в периферните им части.

Независимо от крьвоспиращата превръзка, раната трябва да се обработи при спазване на правилата за предпазване от инфекция.

</p>
</div>