@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при СЛЪНЧЕВ И ТОПЛИНЕН УДАР</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->
<p style="">
    Предразположеността на всеки човек към прегряване (особено в горещото време) зависи най-вече от два фактора: 
    продължителността на прекараното на слънце време и общото му здравословно състояние.
    Извън тях, най-лесно податливи на това състояние са децата и възрастните хора, както и 
    (независимо от възрастта) страдащите от хронични сърдечно-съдови, 
    белодробни и бъбречни заболявания. Употребата на някои медикаменти също увеличава риска.
</p>

<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/sun-heat.png" />
<br />
<p>
    <b>Какво представлява топлинния/слънчевия удар?</b>
    <br />
    На практика това е последната и най-тежка форма на хипертермия (прегряване на тялото), 
    водеща до увеличаване на телесната температура и съпроводена от различни физиологични и неврологични симптоми. 
    Терминът често се използва неправилно при форми на прегряване, които са “по-невинни”. 
    За разлика от тях топлинният удар е животозастрашаващо състояние, което може да се окаже фатално, ако не бъде правилно лекувано. 
    Човешкото тяло в нормално състояние генерира топлина, която е резултат от метаболизма. 
    Организмът е способен да се освобождава от излишната топлина – през кожата и чрез процеса на изпотяване. 
    Ако обаче са налице анормални фактори като много висока температура и/или влажност, продължително излагане на силно слънце, 
    тялото не успява да се справи с натрупващата се топлина чрез естествените си защитни механизми. 
    Друга причина за топлинния/слънчевия удар може да бъде дехидратирането (липсата на достатъчно влага в клетките). 
    То води до неспособност на тялото на изпотява с нужната скорост, което води до повишаване на температурата в него.

</p>

<ul> <b>Симптоми на слънчев удар:</b>
    <li>
         висока температура; 
    </li>
    <li>
        намалено или напълно липсващо изпотяване, съпроводено със зачервяване и/или изсъхване на кожата;
    </li>
    <li>
        ускорен пулс;
    </li>
    <li>
        повръщане;
    </li>
    <li>
        затруднено дишане;
    </li>
    <li>
        халюцинации - състояние на тревожност, превъзбуда;
    </li>
    <li>
         липса на ориентация;
    </li>
    <li>
        припадъци;
    </li>
</ul>
<br />
<h4><b>Как да окажем първа помощ? </b></h4>
<p>
    При състояние на прегряване или топлинен удар навременното вземане на мерки е от изключително значение, 
    защото така могат да се избегнат трайни увреждания на някои органи.
    <br />
    <b>На първо място</b> – пострадалият трябва да бъде охладен. 
    За тази цел го поставете на сенчесто, прохладно и проветриво място. Махнете дрехите и се опитайте да го охладите незабавно, 
    като го напръскате или обтриете с хладна вода и поставите лед под мишниците и на челото и слабините (не и върху главата!). 
    Следете температурата му и ако тя не спада достатъчно (под 38,5-39 градуса) незабавно потърсете бърза помощ. Дори тя да не пристигне незабавно, 
    специалистите могат да ви дадат указания какво да направите междувременно в зависимост от състоянието на пострадалия.
</p>


</div>