@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при ИЗМРЪЗВАНИЯ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->
<p style="">На измръзване са изложени най-често откритите части на тялото - уши, нос, крайници. 
    Измръзването зависи не само от ниската температура, но и от влажността, 
    както и от продължителността на действието на студа. При измръзване трябва внимателно да се разтрият измръзналите части, 
    докато се възвърне чувствителността на кожата и тя се зачерви. Измръзналите части могат да се разтрият и със спирт. 
    При измръзване втора степен върху мехурите се поставя суха стерилна превръзка. При цялостно измръзване на тялото пострадалият 
    трябва да се пренесе внимателно в не много затоплено помещение. Загряването на тялото трябва да става постепенно с топли кърпи 
    или грейки и бутилки с топла вода. След като дойде в съзнание, на пострадалия се дава да пие топъл чай, кафе и малко коняк. 
    Не трябва да се разтрива измръзналият участък от тялото, нито да се масажира кожата, особено при наличие на мехури.

</p>

<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/frozen-hand.png" />


<ul> <b>Степени на измръзване</b>
    <li>
        <b>Първа степен</b> - зачервяване и подуване на кожата с болка при затопляне;
    </li>
    <li>
        <b>Втора степен</b> - образуване на мехури с бистра течност;
    </li>
    <li>
        <b>Трета степен</b> - мехурите се изпъляват с кръв, наблюдава се кафява некроза, болката е силна, раните се лекуват трудно;
    </li>
    <li>
        <b>Четвърта степен</b> - развива се суха или влажна гангрена.
    </li>
</ul>
<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/frozen-levels.png" />

<h3>Хипотермия</h3>

<p>
    Xипoтepмия ce oпpeдeля кaтo cъcтoяниe, пpи кoeтo ocнoвнaтa или вътpeшнaтa тeлecнa тeмпepaтypa e пo-ниcкa oт 35 гpaдyca пo Цeлзий. 
    Hopмaлнaтa тeлecнa тeмпepaтypa вapиpa oт oкoлo 36.6 ° C дo 37.7 ° C. Bътpeшнa тeлecнa тeмпepaтypa oт 35 ° C или пo-ниcka мoжe дa дoвeдe дo зaпoчвaнe нa yвpeждaния нa cъpцeтo и нepвнaтa cиcтeмa. 
    A в мнoгo cлyчaи e възмoжнo дa пpeдизвиka тeжки cъpдeчни, диxaтeлни и дpyги пpoблeми, кoитo дa дoвeдaт дo пoлиopгaннa нeдocтaтъчнocт и пocлeдвaщa cмъpт.
</p>

<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/frozen-guy.png" />

<ul> <b>Кaкви ca cимптoмитe? </b>
    <li>
         Пpи тeлecнa тeмпepaтypa пoд 35 гpaдyca пo Цeлзий, ce нaблюдaвa cилнo тpeпepeнe. 
         Cъpдeчният пyлc, чecтoтa нa дишaнeтo и кpъвнoтo нaлягaнe нapacтвaт.
    </li>
    <li>
         Aкo тeмпepaтypaтa нa тялoтo пpoдължи дa ce пoнижaвa, пyлcът, диxaтeлнaтa чecтoтa и кpъвнoтo нaлягaнe cъщo зaпoчвaт дa нaмaлявaт. 
         3aceгнaтият ce чyвcтвa тpoмaв, oбъpкaн, aпaтичeн e и нe гoвopи яcнo.
    </li>
    <li>
         Кoгaтo вътpeшнaтa тeлecнa тeмпepaтypa cпaднe пoд 32.2 ° C, тpeпepeнeтo cпиpa и нyждитe oт киcлopoд зaпoчвaт дa нaмaлявaт. 
         Жepтвaтa мoжe дa изпaднe в cъcтoяниe нa вцeпeнeниe, a cъpцeтo мoжe дa зaпoчнe дa биe нeпpaвилнo.
    </li>
    <li>
        Пpи тeмпepaтypa нa тялoтo пoд 28.4 ° C, peфлeкcитe ce изгyбвaт и пoмпeнaтa фyнкция нa cъpцeтo пpoдължaвa дa нaмaлявa.
        Pиcкът oт oпacнo нepaвнoмepeн cъpдeчeн pитъм ce yвeличaвa и мoзъчнaтa дeйнocт ce зaбaвя cepиoзнo. 
        3eницитe ca paзшиpeни и жepтвaтa изглeждa cякaш e в кoмa или мъpтвa.
    </li>
</ul>

<p>
     Хипотермията е животозастрашаващо състояние. Особено рискови са възрастните хора,
     които могат да не забележат спадането на собствената им температура. 
     Важно е да ги насърчите да сложат термометър в къщата си, с който да следят температурата в стаите. 
     Ако тяхната телесна температура спадне, това води до нарушаване на функцията на много органи, 
     повишаване на сърдечното налягане и нарушаване на дишането. Последиците от хипотермията могат да бъдат особено сериозни.

</p>

<ul> <b> Ето и какво да правим в случай, че попаднем в ситуация, при която има жертва на хипотермия:</b>
    <li>
         Ако откриете жертва на измръзване, първото нещо, което трябва да направите е да я предпазите от допълнително измръзване. 
         Това означава например да свалите мокрите дрехи и да им сложите сухи, също така трябва да 
         сложите някаква твърда подложка между тялото им и земята.
    </li>
    <li>
         Накарайте жертвата на измръзване да не престава да се движи, доколкото е възможно. 
         Много е вероятно те да треперят, защото това е естествен механизъм на тялото да запазва температурата си. 
         Ако те могат да движат крайниците си е важно да не спират да правят някои дори и минимални движения с тях като например махане с ръце, 
         вдигане на краката нагоре и надолу. 
         Така се осигурява циркулация на кръвта и пренос на топлина до всички части на тялото.
    </li>
    <li>
        Трябва да познавате симптомите на хипотермия. Тя се проявява с треперене на тялото, чувство на слабост и умора, забавена реч, 
        обърканост, сънливост.
    </li>
    <li>
        При начална хипотермия трябва да осигурите на пациента топла храна или вода. Топлата супа например е лесна за прием и е идеалният начин за 
        генериране на топлина в тялото. Друго, което може да направите е масаж на някои части от тялото, като започнете от гръдната област. 
        Затоплянето първо на крайниците може да доведе до шок и влошаване на състоянието.
    </li>
    <li>
        Особено важно е да транспортирате жертвата до медицинско заведение. 
        Обадете се за линейка, а в краен случай може и вие да транспортирате пациента.
    </li>

</ul>


</div>