@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при СЪСТОЯНИЕ НА БЕЗСЪЗНАНИЕ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">
    Безсъзнанието представлява състояние, при което човек внезапно става неспособен да реагира на стимули, като състоянието изглежда като сън.
    Човек може да бъде в безсъзнание за няколко секунди - при припадък, или за по-дълги периоди от време.
    <br />
    Хората, които изпадат в безсъзнание не реагират на стимули - вербални и физикални. 
    При безсъзнание може също да спре дишането или пулсът да стане слаб. Това изисква незабавна спешна помощ. 
    Колкото по-рано потърпевшият получи първа помощ, толкова по-добър ще бъде изходът от състоянието.

</p>
<br />

<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/unconciouspng.png" />

<h3><b>Какви са причините за изпадане в безсъзнание?</b></h3>

<p>
    Безсъзнанието може да бъде причинено от основно заболяване, нараняване или усложнения от употребата на наркотици или злоупотреба с алкохол.
</p>

<ul>
    <b>Честите причини за безсъзнание включват:</b>
    <li>
        Автомобилна катастрофа;
    </li>
    <li>
        Тежка загуба на кръв;
    </li>
    <li>
        Удар в гърдите или главата;
    </li>
    <li>
        Предозиране с наркотици;
    </li>
    <li>
        Отравяне с алкохол;
    </li>
</ul>
<br />
<p>
    Човек може да изпадне временно в безсъзнание или да припадне, когато се появят резки промени в тялото.
</p>

<ul>
    <b>Честите причини за безсъзнание включват:</b>
    <li>
        Ниска кръвна захар;
    </li>
    <li>
        Ниско кръвно налягане;
    </li>
    <li>
       Синкоп (краткотрайна загуба за съзнание) или загубата на съзнание поради липса на приток на кръв към мозъка;
    </li>
    <li>
        Загубата на съзнание, причинено от припадък, удар или транзиторна исхемична атака;
    </li>
    <li>
        Дехидратация;
    </li>
    <li>
        Нарушение на сърдечния ритъм;
    </li>
    <li>
        Физическо претоварване;
    </li>
    <li>
        Хипервентилация (прекомерно дишане, надвишаващо нуждата на организма от кислород);
    </li>
</ul>

<br />

<h3><b>Как се оказва първа помощ на човек в безсъзнание?</b></h3>

<ol>
    При човек, изпаднал в безсъзнание, трябва да се предприемат следните стъпки:
    <li>
        Проверява се дали човекът диша. Ако не диша, незабавно трябва да се започне кардиопулмоналната ресусцитация (КПР).
        Важно е обаждане на телефон 112 и извикването на медицинска помощ. Ако потърпевшият диша, той трябва да бъде поставен да лежи по гръб;
    </li>
    <li>
       Краката на потърпевшия трябва да бъдат повдигнати на поне на 30 сантиметра над земята;
    </li>
    <li>
       Тесните дрехи или колани трябва да се разхлабят. Ако жертвата не дойде в съзнание в рамките на една минута, 
       трябва да се потърси спешна медицинска помощ;
    </li>
    <li>
        Отново трябва да се провери дишането на потърпевшия и дали кашля или се движи. Това са признаци за добро кръвообращение.
        Ако тези признаци отсъстват, 
        трябва да се извърши кардиопулмонална ресусцитация, докато не пристигне бърза помощ;
    </li>
    <li>
       При наличието на големи кръвоизливи, трябва да бъде оказан директен натиск върху областта на кървене или да се приложи турникет,
       колан или връзка над областта на кървене, докато не пристигне спешна медицинска помощ;
    </li>
</ol>

</div>