@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при ПОПАДАНЕ НА ЧУЖДИ ТЕЛА В ОЧИТЕ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

<p style="">Като чуждо тяло ние разглеждаме всеки външен елемент (пясък, мигли, тръни, насекоми, стружки, хартия, играчки,
    ядки или бобови растения и др.)
    , който влиза в нашето тяло чрез всякаква структура: кожата, устата, гърлото, 
    носа или уши, които могат да причинят дискомфорт или повече или по-малко сериозни щети.
    <br />
Инциденти с чужди тела могат да се случат при множество ежедневни и работни дейности, така че е много важно да знаете как да действате, 
за да разрешите проблема, да намалите дискомфорта и най-вече да не утежнявате нараняванията.
</p>

<br />
<img class="img-fluid rounded mx-auto d-block h-25 w-50" src="~/PNGs/eye.png" />
<br />

<h3><b>Какво трябва да правим?</b></h3>
<ol>    
    <li>
        Винаги, когато е възможно, ще си мием ръцете със сапун и вода;
    </li>
    <li>
        Ако лицето носи контактни лещи, ние ще ги премахнем, преди да се опитаме да премахнем чуждото тяло;
    </li>
    <li>
        Поставете лявата си ръка под брадичката си; С показалеца и палеца отворете наполовина засегнатото око, 
        за да наблюдавате вида и местоположението на чуждото тяло. Ще ви помолим да преместите окото си нагоре, надолу и настрани;
    </li>
    <li>
         Ако видите чуждото тяло, 
         опитайте се да го изтеглите с вода или директно в чешмата, с буркан или със спринцовка, накланяйки главата към увредената страна.
    </li>
    <li>
        Ако нараняването е причинено от горещ или корозивен продукт,
        продължете да измивате внимателно, но постоянно за повече от десет минути, като проверявате долния и горния клепач.
    </li>
    <li>
         Ако не виждате чуждото тяло, не можете да го извадим или е метална треска, 
         трябва да отидете в здравен център, за да бъде направен преглед и да пристъпим към неговото извличане. 
         Окото трябва да бъде покрито с марля и тиксо, защото с всяко мигане дискомфортът се увеличава.
    </li>   

</ol>

</div>