@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
    
    <h2 style="text-align:center; ">ОПИС НА СЪДЪРЖАНИЕТО НА АПТЕЧКИ И АПТЕЧНИ ЧАНТИ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->
        <p style=""> 
            Всеки дом трябва да притежава домашна аптечка, но често забравяме да подменяме лекарствата в нея или пък изобщо не поддържаме такава.
        В тази тема ще изброим основните правила за комплектоване, съхранение и използване на домашната аптечка.
        Какво трябва да знаете ? Домашната аптечка е предназначена за оказване на първа помощ, а не за самолечение.
        Тя е задължителна за всеки дом, особено ако има малки деца.
        Съхранява се в недостъпно за деца място.
        Съхранява се далеч от източници на топлина, влага, светлина.
        Строго се следят и спазват сроковете и условията за съхраняване на отделните медицински препарати.
        Медикаментите с изтекъл срок на годност трябва да бъдат изхвърлени незабавно, независимо от стойността им, тъй като те могат да предизвикат тежки отравяния.
        Медикаментите за вътрешно и за външно приложение трябва да са отделени едни от други.
        Течните медикаменти са негодни за употреба, ако частично са се изпарили или има утайка в тях.
        Таблетките не трябва да имат пукнатини или петна и не трябва да се рушат и да се разпадат.
        </p>
        <img class="img-fluid rounded mx-auto d-block h-25 w-auto" src="~/PNGs/aidKitContent.png" />
        <p>
        <br />Ето и минимума за необходимото съдържание на домашната аптечка :
        </p>
        <ul><b>Защитни средства и помощни изделия :</b>
            <li>
                 медицински латексови ръкавици
            </li>
            <li>
                термометър

            </li>
            <li>
                стерилни спринцовки и игли

            </li>
            <li>
                ножички

            </li>
            <li>
                 пинцети
            </li>
            <li>
                мерителна чашка
            </li>
            <li>
                капкомер
            </li>
        </ul>
        <br />
        <ul><b>Превързочни материали :</b>
            <li>
                 стерилни бинтове и марлички с различна ширина

            </li>
            <li>
                еластичен бинт
            </li>
            <li>
                 лигнин за компреси
            </li>
            <li>
                цитопласт със и без марлена лента

            </li>
            <li>
                 стерилен памук
            </li>
            <li>
                дървена  шина, в случай на счупване
            </li>
        </ul>
        <br />
        <ul><b>Дезинфекционни и антисептични разтвори :</b>

            <li>
                 риванол – за дезинфекция
            </li>
            <li>
               кислородна вода – за дезинфекция и спиране на кървене
            </li>
            <li>
                йод течен – директно върху одрасквания и плитки ранички, при големи рани само около краищата им, за дезинфекция

            </li>
            <li>
                 медицински спирт – 75% за дезинфекция и 40% за компреси
            </li>
        </ul>

        <ul><b>Лекарствени средства :</b>

            <li>
                 амонячен разтвор 10% – стимулира дишането и се използва за изкарване от безсъзнание, като внимателно и за кратко се доближава до носа на лицето, което има нужда

            </li>
            <li>
               активен въглен – при отравяния
            </li>
            <li>
                йодасепт вазелин
            </li>
            <li>
                 топоцин пудра
            </li>
            <li>
                 дефламол вазелин или пантенол – при изгаряния
            </li>
            <li>
                 аналгин течен и таблетки – болкоуспокояващо и при висока температура
            </li>
            <li>
                 аспирин – при намаляване на температурата и главоболие, както и за да се предотврати преохлаждане. Не се ползва ако има кръвотечение.
            </li>
            <li>
                 валидол и валериан на капки или таблетки – за успокояване или при болка в сърцето
            </li>
            <li>
                 парацетамол – при висока температура
            </li>
            <li>
                 други болкоуспокояващи – но-шпа, спазмалгон, аулин, нурофен
            </li>
            <li>
                  билки  и настойки от билки – ако ги ползвате, съхранявайте ги в стъклен съд  или в платнена торбичка. 
            </li>
        </ul>

        <p>
        Нашите съвети :
 
        Сложете в аптечката и някои предмети, които в критичен момент може да спасят живота ви – например малко фенерче, кибрит, свирка (дори да не сте в състояние да извикате, свирката ще привлече внимание)
        Когато оказвате първа помощ на себе си или на другиго, задължително дезинфекцирайте ръцете си и използвайте ръкавици.
        </p>
</div>