@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_SideMenuPartial" />

<!-- Page content -->
<div class="content">
  
    <h2 style="text-align:center; ">Първа долекарска помощ при СЧУПВАНИЯ И НАРАНЯВАНИЯ</h2>
<!-- make a button show partial view

 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/PNGs/menu.png" class="img-navbar" >
                </button>

-->

    <p style="">Счупването на кост може да настъпи след различни видове травми – спортни, домашни, при катастрофи. Счупванията могат да са закрити и открити. 
        При закритите счупвания е нарушена целостта на костта, но не и на кожата. 
        Откритите счупвания се характеризират със сериозна увреда целостта на кожата и краищата на костите са в контакт с външната среда.
    </p>
    <ul><b>Признаци за настъпила фрактура:</b>
            <li>
                 Остра болка на мястото на травмата;
            </li>
            <li>
                Оток, посиняване;
            </li>
            <li>
              Деформиране на крайника;
            </li>
            <li>
               Ограничени движения;
            </li>
            <li>
                Болка при натоварване.
            </li>          
        </ul>
        <br />

        <ul><b> Кога да потърсите професионална помощ?</b>
            <li>
                 Съмнения за травма на гръбначния стълб;
            </li>
            <li>
              Сериозна травма на главата;
            </li>
            <li>
              Множество счупвания;
            </li>
            <li>
               Травма на гръдния кош, която затруднява дишането.
            </li>                    
        </ul>
        <br />

        <ul><b>Какво НЕ трябва да правите?</b>
            <li>
                 Ако смятате, че има травма на гръбначния стълб, счупено ребро, тазова или бедрена кост, не местете пострадалия, освен ако не е абсолютно наложително
            </li>
            <li>
                Не се опитвайте да наместите счупена или изкълчена кост!
            </li>                   
        </ul>
        <br />

        <h3><b>Какво да правите при различни видове счупвания?</b></h3>
        <br />

        <p>Счупвания на предмишница и китка.</p>
        <ul><b>Поведение на помагащия: </b>
            <li>
                 Леко придържайте ръката, свита в лакътя, върху предната гръдна стена;
            </li>
            <li>
              От долната страна на предмишницата поставете мека подложка или памук;
            </li>
            <li>
             Обездвижете ръката в това положение с помощта на триъгълна кърпа. Възелът се фиксира над рамото. 
             За по-голяма стабилност използвайте втора триъгълна кърпа като тя преминава от лакътната става и опасва гръдния кош. 
             При липса на триъгълна кърпа може да обездвижите ръката към гръдния като използвате долната част на дрехата си;

            </li>
            <li>
               Преди обездвижването премахнете пръстени, часовници от ръката на пострадалия. 
               Ако има оток премахването им става много трудно. Следете кръвообръщението.
            </li>                    
        </ul>
        <br />

        <p>Счупване на бедрото. 
            Това е най-дългата кост в тялото, богато кръвоснабдена, такъв вид счупвания се третират като сериозен инцидент.</p>

        <ul><b>Поведение на помагащия:</b>
            <li>
                Поставете пострадалия в легнало положение и обездвижете бедрената и колянната става като фиксирате към здравия крак. 
                Придържайте коляното и се опитайте да изправите засегнатия крак (до колкото това е възможно).
            </li>
            <li>
              Сложете достатъчно меки подложки между двата крайника
            </li>
            <li>
             Придърпайте здравия крак към наранения, завържете около глезените превръзка с форма на цифрата осем.
            </li>                   
        </ul>
        <br />

             <p><b>Счупвания на кост на подбедрицата.</b>
    <br />Постъпва се по същия начин както при счупване на бедрото с разликата, че обездвижваме до колянната става.</p>
    <br />

    <p><b>Счупвания на ребра и гръдната кост.</b></p> 
    <p>Често се комбинират с т.нар. „свистяща рана“, дължаща се на открит пневмоторакс. Това се третира като спешен случай.</p>
        <ul><b>Поведение на помагащия:</b>
            <li>
                Превържете раната с превръзка откъм ненаранената страна. 
                При счупване на повече ребра е възможна кръгова превръзка на гръдния кош с бинт. 
                Не ограничавайте дихателните движения.
            </li>
            <li>
              Транспортирайте веднага до болница!
            </li>                              
        </ul>
         <br />

        <p><b>Счупвания на долната челюст.</b></p> 
    <p>Най-голямата опасност в този случай е задушаване, което се предизвиква от разместване на меки тъкани, счупване на зъби.</p>

    <p>Признаци: Болка при движение на долната челюст и преглъщане, трудност при говорене, оток, деформация по долната челюст.</p>
        <ul><b>Поведение на помагащия:</b>
            <li>
               Поддържайте дишането като осигурите проходими въздушни пътища;
            </li>
            <li>
              Ограничете кръвотечението;
            </li>   
            <li>
             Поставете пострадалия с глава наклонена напред, за да изтичат секретите от устата;
            </li>  
            <li>
             Ако челюстта увисне, поставете мека подложка под брадичката и я фиксирайте с бинт;
            </li>  
            <li>
              Ако травмата е сериозна и пострадалият изгуби съзнание, поставете го в странично стабилно положение. Под главата поставете мека подложка.
            </li>  
            <li>
              Транспортирайте до болница.
            </li>  
        </ul>
</div>