@model FirstAidBG_v._2.Business.Models.AnswerModel

@{
    ViewData["Title"] = "CreateAnswer";
}

<section style="padding-left:5em; padding-right:5em;">
<h1>Създайте отговор на въпроса</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Отговор</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Forum" asp-action="Index">Обратно към страница</a>
</div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
